.ticketoverview {
  grid-area: main;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 40px auto;
  grid-template-columns: 200px 400px auto 200px;
  grid-template-areas:
    'ticketoverview__pagination ticketoverview__create ticketoverview__search ticketoverview__results-per-page'
    'ticketoverview__table ticketoverview__table ticketoverview__table ticketoverview__table';
}

.ticketoverview__pagination {
  grid-area: ticketoverview__pagination;
  margin-left: 25px;
}
.ticketoverview__create {
  grid-area: ticketoverview__create;
  margin-left: 25px;
}
.ticketoverview__search {
  grid-area: ticketoverview__search;
  margin-left: 25px;
}
.ticketoverview__results-per-page {
  grid-area: ticketoverview__results-per-page;
  margin-left: 25px;
}
.ticketoverview__table {
  grid-area: ticketoverview__table;
  margin-left: 25px;
  width: 100%;
}

.ticketoverview--no-tickets {
  text-align: center;
  padding-top: 10%;
}
