.button {
  height: 40px;
  width: auto;
  text-decoration: none;
  font-weight: bold;
  min-width: 30px;
  border: hidden;
  background-color: transparent;
  font-size: 13px;
  color: var(--text-bright);
}

.button:hover,
.button:focus,
.button--active {
  outline: none;
  color: var(--text-focus);
  font-size: 14px;
}
