.date_main {
  border-radius: 6px;
  border: 1px solid lightgrey;
  overflow: hidden;
  color: lightgrey;
  font-size: 13px;
}

.date_label {
  display: inline-block;
  width: 80px;
  background-color: #35363b;
}

.date_text_frame {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 12px;
}

.date_text {
  margin-left: 12px;
}
