.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__menu {
  display: none;
  position: absolute;
  background-color: var(--panel);
  width: 115px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown__menu a {
  font-size: 11px;
  color: var(--text-bright);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown__menu a:hover {
  background-color: var(--select);
}

.dropdown:hover .dropdown__menu {
  display: block;
}
