.footer {
  grid-area: app_footer;
  background-color: var(--footer);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 400px;
  grid-template-areas: 'app_copyright .  app_issues';
  font-size: 13px;
}

.footer__copyright {
  font-size: 11px;
  grid-area: app_copyright;
  margin-top: 35px;
  margin-left: 40vw;
  margin-bottom: 10px;
}

.footer__issues {
  grid-area: app_issues;
  margin-top: 15px;
  margin-left: auto;
  margin-right: 20px;
}
