body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
}

.app_container {
  background-color: rgb(54, 51, 58);
  height: 100vh;
  display: grid;
  grid-template-rows: 3rem 1fr 4rem;

  grid-template-areas:
    'app_navbar'
    'app_main'
    'app_footer';
  row-gap: 10px;
}

.app_navbar {
  grid-area: app_navbar;
  background-color: whitesmoke;
}

/* .app_main {
  grid-area: app_main;
} */

.app_footer {
  grid-area: app_footer;
  background-color: whitesmoke;
}
