:root {
  --label: #35363b;
  --background: #ffffff;
  --panel: #fffffff;
  --navbar: white;
  --footer: white;
}

.app_container {
  --toastify-color-dark: #435760;
  color: lightgrey;
  min-height: 100vh;
  min-width: 100%;
  display: grid;
  grid-template-rows: 3rem auto 4rem;

  grid-template-areas:
    'app_navbar'
    'app_main'
    'app_footer';
  row-gap: 10px;
}

.Toastify__toast-container--top-right {
  position: fixed !important;
  top: 55px !important;
}
