.issue {
  grid-area: main;
  display: grid;
  grid-template-columns: 2fr 400px 1fr;
  grid-template-areas: '. issue__form .';
}

.issue__form {
  background-color: var(--panel);
  margin-top: 40px;
  height: 400px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid var(--text-bright);
  /* box-shadow: 3px 6px 15px -3px rgb(109, 105, 105); */
  grid-area: issue__form;
  display: grid;
  grid-template-rows: 1fr 110px 65px 140px 65px 1fr;
  grid-template-columns: 7fr 1fr;
  grid-template-areas:
    ' . .'
    ' issue__form__heading .'
    ' issue__form__issue .'
    ' issue__form__description .'
    ' issue__form__button .'
    ' . .';
}

.issue__form__heading {
  grid-area: issue__form__heading;
  margin-bottom: 40px;
  margin-left: 25px;
}
.issue__form__issue {
  grid-area: issue__form__issue;
  margin-left: 25px;
}
.issue__form__description {
  grid-area: issue__form__description;
  margin-left: 25px;
}
.issue__form__button {
  grid-area: issue__form__button;
  margin-left: 25px;
  width: 100px;
}
