.app_main {
  grid-area: app_main;
  display: grid;
  grid-template-columns: 2fr 400px 1fr;
  grid-template-areas: '. app_login_form .';
}

.app_login_form {
  background-color: whitesmoke;
  margin-top: 40px;
  height: 70%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 6px 15px -3px rgb(109, 105, 105);
  grid-area: app_login_form;
  display: grid;
  grid-template-rows: 1fr 110px 65px 65px 65px 1fr;
  grid-template-columns: 7fr 1fr;
  grid-template-areas:
    ' . .'
    ' app_title .'
    ' app_username .'
    ' app_password app_eye'
    ' app_login .'
    ' . .';
}
.app_username {
  grid-area: app_username;
  margin-left: 25px;
}
.app_password {
  grid-area: app_password;
  margin-left: 25px;
}
.app_title {
  grid-area: app_title;
  margin-left: 25px;
  margin-bottom: 40px;
}
.app_eye {
  grid-area: app_eye;
  margin-left: 10px;
  margin-top: 5px;
  color: rgb(101, 104, 101);
}
.app_login {
  grid-area: app_login;
  margin-left: 25px;
}

.btn:hover,
.btn:focus {
  color: rgb(255, 255, 255) !important;
  border-color: rgb(51, 54, 58) !important;
  background: rgb(144, 153, 165) !important;
}
.btn {
  font-size: 13px !important;
  color: rgb(51, 54, 58) !important;
  border-color: rgb(51, 54, 58) !important;
}

.form-control,
.input-group,
.input-group-text {
  font-size: 13px !important;
  /* color: rgb(101, 104, 101) !important; */
}
.form-control {
  color: rgb(101, 104, 101) !important;
}
