.app_navbar {
  grid-area: app_navbar;
  background-color: var(--navbar);
  display: grid;
  grid-template-columns: 200px 1fr 250px 80px 120px;
  grid-template-areas: 'app_home . app_user app_tickets app_login_link';
  font-size: 13px;
}

.app_home {
  margin-top: 15px;
  grid-area: app_home;
  margin-left: 20px;
  margin-right: auto;
}

.app_user {
  grid-area: app_user;
  margin-top: 15px;
  margin-left: auto;
}

.app_tickets {
  grid-area: app_tickets;
  margin-top: 15px;
  margin-left: auto;
}

.app_login_link {
  grid-area: app_login_link;
  margin-top: 15px;
  margin-left: auto;
  margin-right: 20px;
}

a:link,
a:visited {
  color: var(--text-bright);
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: var(--text-focus) !important;
  text-decoration: none;
  font-size: 14px;
  outline: none;
}
