.requestForm {
  grid-area: main;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 40px 60px auto;
  grid-template-columns: 220px 100px 100px 220px auto;
  grid-template-areas:
    ' . requestForm__save requestForm__cancel . .'
    ' requestForm__heading requestForm__heading . . .'
    ' requestForm__form requestForm__form requestForm__form requestForm__form .';
}

.requestForm__form {
  grid-area: requestForm__form;
  background-color: var(--panel);
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 25px;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 25px 65px 65px 110px;
  grid-template-columns: 300px 300px;
  grid-gap: 10px 10px;
  grid-template-areas:
    '. . '
    'requestForm__form__title   requestForm__form__module '
    'requestForm__form__type  requestForm__form__source '
    'requestForm__form__comment  requestForm__form__comment ';
}

.requestForm__save {
  grid-area: requestForm__save;
  margin-left: 25px;
}
.requestForm__cancel {
  grid-area: requestForm__cancel;
  margin-left: 25px;
}

.requestForm__heading {
  grid-area: requestForm__heading;
  margin-left: 25px;
  width: 100%;
}

.requestForm__form__title {
  grid-area: requestForm__form__title;
  margin-left: 25px;
}
.requestForm__form__module {
  grid-area: requestForm__form__module;
  margin-left: 25px;
}
.requestForm__form__type {
  grid-area: requestForm__form__type;
  margin-left: 25px;
}
.requestForm__form__source {
  grid-area: requestForm__form__source;
  margin-left: 25px;
}
.requestForm__form__comment {
  grid-area: requestForm__form__comment;
  margin-left: 25px;
}
