.request {
  grid-area: request;
  margin-top: 10px;
  display: grid;
  border-radius: 6px;
  height: 100%;
  grid-template-columns: 640px;
  grid-template-areas: 'request__form';
}

.request__form {
  grid-area: request__form;
  background-color: var(--panel);
  border: 1px solid var(--text-bright);
  max-height: 480px;
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 25px;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 15px 52px 35px 35px 35px 110px 110px;
  grid-template-columns: 300px 300px;
  grid-gap: 10px 10px;
  grid-template-areas:
    '. .'
    'request__form__heading request__form__heading'
    'request__form__date  request__form__title'
    'request__form__student request__form__module'
    'request__form__type  request__form__source'
    'request__form__comment request__form__comment'
    'request__form__history request__form__history';
}

.request__form__heading {
  grid-area: request__form__heading;
  margin-left: 25px;
  font-size: 15px;
  color: var(--text-bright);
}

.request__form__date {
  grid-area: request__form__date;
  margin-left: 25px;
}
.request__form__title {
  grid-area: request__form__title;
  margin-left: 25px;
}
.request__form__student {
  grid-area: request__form__student;
  margin-left: 25px;
}
.request__form__module {
  grid-area: request__form__module;
  margin-left: 25px;
}
.request__form__type {
  grid-area: request__form__type;
  margin-left: 25px;
}
.request__form__source {
  grid-area: request__form__source;
  margin-left: 25px;
}
.request__form__comment {
  grid-area: request__form__comment;
  overflow: scroll;
  margin-left: 25px;
}
.request__form__history {
  grid-area: request__form__history;
  white-space: pre-wrap;
  overflow: scroll;
  margin-left: 25px;
}
