.response {
  grid-area: response;
  margin-top: 10px;
  display: grid;
  border-radius: 6px;
  height: 100%;
  grid-template-columns: 600px;
  grid-template-areas: 'response__form';
}

.response__form {
  grid-area: response__form;
  background-color: var(--panel);
  border: 1px solid var(--text-bright);
  max-height: 480px;
  border-radius: 6px;
  margin-top: 10px;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 25px 35px 65px 110px 35px 35px 110px;
  grid-template-columns: 285px 285px;
  grid-gap: 10px 10px;
  grid-template-areas:
    '. .'
    'response__form__heading response__form__heading'
    'response__form__priority  response__form__status'
    'response__form__statement response__form__statement'
    'response__form__save  .'
    '. .'
    '. .';
}

.response__form__heading {
  grid-area: response__form__heading;
  margin-left: 25px;
  font-size: 15px;
  color: var(--text-bright);
}

.response__form__priority {
  grid-area: response__form__priority;
  margin-left: 25px;
}
.response__form__status {
  grid-area: response__form__status;
  margin-left: 25px;
}
.response__form__statement {
  grid-area: response__form__statement;
  overflow: scroll;
  margin-left: 25px;
}
.response__form__save {
  grid-area: response__form__save;
  margin-left: 25px;
}
