.search {
  background-color: transparent;
  height: 40px;
  width: 300px;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid var(--text-bright);
  border-radius: 0;
  color: var(--text-bright);
  font-size: 13px;
}

/* TODO */
.search:-webkit-autofill,
.search:-webkit-autofill:hover,
.search:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-bright);
  -webkit-box-shadow: 0 0 0px 40rem var(--background) inset;
}
