.searchBox {
  background-color: transparent;
  height: 40px;
  width: 300px;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid lightgrey;

  color: lightgrey;
  font-size: 13px;
}
