.select {
  border-bottom: 1px solid var(--text-bright);
  overflow: hidden;
  /* Disable text select for all elements */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select:focus-within label {
  color: var(--text-bright);
}

.select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.select__label {
  color: var(--text-dark);
  width: 90px;
  font-weight: bold;
  display: inline-block;
}

.select__text-frame {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 12px;
}

.select__text {
  width: 60%;
  color: var(--text-bright);
  background-color: transparent;
  margin-left: 12px;
  resize: none;
  border: none;
  outline: none;
}

.select__error {
  margin-left: 100px;
  color: var(--error);
  font-weight: 600;
}

.select__error--no-error {
  height: 17px;
}
