.table {
  border-collapse: separate;
  border-spacing: 0 5px;
  table-layout: fixed;
  width: 95%;
  margin-top: 25px;
  font-size: 13px;
}

.table th,
.table td {
  color: var(--text-bright);
  width: 50px;
  padding: 15px 15px;
}

th.date {
  width: 80px;
}

th.student {
  width: 60px;
}

th.status,
th.type {
  width: 50px;
}

th.source {
  width: 50px;
}

th.title,
td.title {
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table__header {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: var(--text-bright);
  cursor: pointer;
}

.table__body {
  margin-top: 25px;
  background-color: var(--panel);
  padding-top: 3px;
}

.table__body:hover {
  background-color: var(--select);
  cursor: pointer;
}

.table__row--mark {
  background-color: var(--new) !important;
}

.table__row--no-mark {
  background-color: var(--panel);
}
