.textArea {
  border-bottom: 1px solid var(--text-bright);
  font-size: 13px;
}

.textArea:focus-within label {
  color: var(--text-bright);
}

.textArea__label {
  color: #35363b;
  display: inline-block;
  width: 90px;
  font-weight: bold;
}

.textArea__text-frame {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 12px;
}

.textArea__text {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: transparent;
  color: var(--text-bright);
  height: 80px;
  width: 90%;
  margin-left: 12px;
  resize: none;
  border: none;
  outline: none;
}

.textArea__error {
  margin-left: 100px;
  color: var(--error);
  font-weight: 600;
}

.textArea__error--no-error {
  height: 17px;
}

.textArea__text::-webkit-scrollbar {
  width: 3px;
}

.textArea__text::-webkit-scrollbar-thumb {
  background-color: var(--text-bright);
}
