.app_ticketOverview {
  grid-area: app_main;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 40px auto;
  grid-template-columns: 200px 400px auto 200px;
  grid-template-areas:
    'app_pagination app_create app_search app_items'
    'app_table app_table app_table app_table';
}

.app_pagination {
  grid-area: app_pagination;
  margin-left: 25px;
}
.app_create {
  grid-area: app_create;
  margin-left: 25px;
}
.app_search {
  grid-area: app_search;
  margin-left: 25px;
}
.app_items {
  grid-area: app_items;
  margin-left: 25px;
}
.app_table {
  grid-area: app_table;
  margin-left: 25px;
  width: 100%;
}
